body{
    background-image: url(backgroundimage.jpg);
    background-size: cover;
}

h2{color:#AA4139;
text-align: center;
border: 5px solid rgba(255,176,170,0.5);
cursor: pointer;}
p{
    color:rgb(4, 37, 23);
}
p
{
    color:white;
}
li{
    list-style: none;
    display: inline-block;
}